In [11]:
import pandas as pd

In [111]:
df = pd.read_csv(r'C:\Users\Damian\PycharmProjects\Praca dyplomowa\glassdoor_jobs.csv')

In [153]:
df.head()

,Company Name,Location,Job title,Job description,Salary estimate,Rating,Company industry,Siza,Type of ownership,Founded,...,Revenur,hourly,salary,age,Python,SQL,Pandas,R Studio,Excel,AWS
0,Nike,"New York, NY",Data Scientist,"Become a Part of the NIKE, Inc. Team\nNIKE, In...","$125,947 /yr (est.)",4.1,Manufacturing,10000+ Employees,Consumer Product Manufacturing,1972,...,$10+ billion (USD),0,125947.0,50,1,1,0,0,0,0
1,Spotify,"New York, NY","Data Scientist, Spotify Advertising","Data, Research & Insights\nData Science\nAt Sp...","$119,393 /yr (est.)",4.2,Information Technology,5001 to 10000 Employees,Internet & Web Services,2006,...,Unknown / Non-Applicable,0,119393.0,16,1,1,1,0,0,0
3,The Coca-Cola Company,"Plano, TX",Data Scientist 1,About Enterprise Data and Analytics:\nThe Data...,"$92,892 /yr (est.)",4.0,Manufacturing,10000+ Employees,Food & Beverage Manufacturing,1886,...,$10+ billion (USD),0,92892.0,136,1,1,0,0,0,1
4,CrowdStrike,Remote,HR Analytics – Data Scientist (Remote),#WeAreCrowdStrike and our mission is to stop b...,"$121,270 /yr (est.)",4.4,Information Technology,1001 to 5000 Employees,Enterprise Software & Network Solutions,2011,...,$500 million to $1 billion (USD),0,121270.0,11,1,1,0,0,0,0
6,Durham County,"Durham, NC",DATA SCIENTIST,Durham County Government employs approximately...,"$91,101 /yr (est.)",3.1,$1 to $5 million (USD),51 to 200 Employees,Government & Public Administration,-1,...,-1,0,91101.0,-1,0,1,0,0,0,0

In [113]:
df = df[df['Salary estimate'] != '-1']

In [114]:
df['hourly'] = df['Salary estimate'].apply(lambda x: 1 if '/hr' in x.lower() else 0)

In [115]:
salary = df['Salary estimate'].apply(lambda x: x.split('/')[0])
salary = salary.apply(lambda x: x.replace('$', ''))
df['salary'] = salary

In [116]:
df['salary'] = df['salary'].apply(lambda x: x.replace(',', ''))

In [117]:
df['salary'] = df['salary'].astype(float)

In [118]:
df['salary'] = df.apply(lambda x: x.salary * 168 * 12 if x.hourly == 1 else x.salary, axis = 1)

In [144]:
df['Founded'] = df['Founded'].apply(lambda x: -1 if x == 'Government' or x == 'Company - Public' 
                                    or x == 'Company - Private'
                                    or x == 'Subsidiary or Business Segment' else x )

In [145]:
df['age'] = df.Founded.apply(lambda x: int(x) if int(x) < 1 else 2022 - int(x))

In [152]:
df['Python'] = df['Job description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['SQL'] = df['Job description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df['Pandas'] = df['Job description'].apply(lambda x: 1 if 'pandas' in x.lower() else 0)
df['R Studio'] = df['Job description'].apply(lambda x: 1 if 'r studio' in x.lower()
                                             or 'r-studio' in x.lower() else 0)
df['Excel'] = df['Job description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['AWS'] = df['Job description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [156]:
df.to_csv('cleaned_data.csv')